
<nav class="fixed top-0 z-50 w-full bg-white shadow-sm">
    <div class="flex items-center justify-between h-20 mx-auto max-w-7xl">

        <!-- LOGO + INICIO -->
        <div class="flex items-center space-x-3">
           <a href="http://127.0.0.1:5500/templates/home/home.html"><img src="https://dummyimage.com/40x40/0f172a/fff&text=KG"
                 class="object-cover w-10 h-10 rounded-full"></a>
            <span class="text-lg font-semibold text-slate-900"><a href="http://127.0.0.1:5500/templates/home/home.html">KabayGroup</a></span>
        </div>

        <!-- ICONOS + TELÉFONO + BOTONES -->
        <div class="items-center hidden space-x-6 md:flex">

            <!-- TELÉFONO -->
            <div class="flex items-center space-x-2">
             <i class="text-2xl text-gray-800 ph ph-phone"></i>


                <a href="https://wa.me/18096727557?text=hola
"><span class="font-medium text-slate-700">+1 809-672-7557</span></a>
            </div>

            <!-- BOTÓN INICIAR SESIÓN -->
            <button class="px-5 py-2 transition border border-gray-300 rounded-lg text-slate-700 hover:bg-gray-100">
                <a href="https://kabay.site/web/login">Iniciar sesión</a>
            </button>

            <!-- BOTÓN CONTÁCTENOS -->
            <button class="px-6 py-2 text-white transition bg-blue-600 rounded-lg hover:bg-blue-700">
                <a href="http://127.0.0.1:5500/templates/home/contact_form.html">Contáctenos</a>
                
            </button>
        </div>

        <!-- MENU RESPONSIVE -->
        <button class="md:hidden">
            <svg class="w-7 h-7 text-slate-900" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h16"/>
            </svg>
        </button>

    </div>
</nav>
